DB_HOST={{ hostvars[groups['mysql_hosts'][0]]['ansible_host'] }}
DB_USER=gameapp
DB_PASSWORD={{ vault_gameapp_db_password }}
REDIS_HOST={{ hostvars[groups['redis_hosts'][0]]['ansible_host'] }}
REDIS_PASSWORD={{ vault_redis_password }}
RABBITMQ_HOST={{ hostvars[groups['rabbitmq_hosts'][0]]['ansible_host'] }}
RABBITMQ_USER=gameapp
RABBITMQ_PASSWORD={{ vault_rabbitmq_password }}
RABBITMQ_VHOST=/game
SERVER_PORT=8080
